/.sass-cache
/.idea

/www
/node_modules

/platforms/android/CordovaLib/bin
/platforms/android/CordovaLib/gen
/platforms/android/CordovaLib/ant-build
/platforms/android/CordovaLib/ant-gen

/platforms/android/bin
/platforms/android/gen
/platforms/android/assets
/platforms/android/ant-build
/platforms/android/ant-gen

/platforms/ios/www
/platforms/ios/build
/platforms/ios/CordovaLib/build

